<div class="container">
	<p id="notice"><%= notice %></p>
	<div class="page-header">
 		<h1><i><%= @script.title %></i> <small>
 			<% if author_signed_in? %>
	 			<% if current_author.id == @script.author.id %>
					<%= link_to edit_script_path(@script) do %>
						<span data-toggle="tooltip" data-placement="top" title="edit title" class="label label-default" style="a:hover {text-decoration:none;}">Edit</span> 
					<% end %>
				<% end %>
			<% end %>
 			<span data-toggle="tooltip" data-placement="top" title="genre"class="label label-warning"><%= @script.genre %></span> 
 			<%= link_to @script.author do %>
 				<span data-toggle="tooltip" data-placement="top" title="author" class="label label-primary" style="a:hover {text-decoration:none;}"><%= @script.author.username %></span>
 			<% end %>
 		</small>
 		</h1>
	</div>
	<div class="row">
	      <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
	        <ul class="nav nav-tabs" id="hometabs">
	          <li class="active"><a href="#script" data-toggle="tab">Script</a></li>
	          <li><a href="#description" data-toggle="tab">Preface</a></li>
	          <li><a href="#whispers" data-toggle="tab">Whispers</a></li>
	        </ul>
	        <div class="tab-content" id="content">
	          <div class="tab-pane fade in active" id="script">
		          	<h3>Stanzas</h3>
		          	<div class="panel panel-default">
			            <% if @script.stanzas.presence %>
				            <table class="table table-striped">
				                <thead>
				                  <tr>
				                  	<th>Line</th>
				                    <th>Content</th>
				                    <th>Author</th>
				                  </tr>
				                </thead>
				                <tbody>
				            	<% @script.stanzas.each do |stanza| %>
									<tr>
										<td><%= stanza.stanza_number %></td>
										<td><%= stanza.content %></td>
										<td><%= link_to stanza.author.username, stanza.author%></td>
									</tr>
								<% end %>
				                </tbody>
			            	</table>
						<% else %>
							<p>This script is blank...</p>
			            <% end %>
		            </div>
	          	</div>
	          <div class="tab-pane fade" id="description">
	          	<br />
	            <div class="well">
	            	<p style="font-size:1.5em;"><%= @script.preface %></p>
	            </div>
	          </div>
	          <div class="tab-pane fade" id="whispers">
	            <h4>Discussion developed from the <b><i>Script</i></b> connected to certain <b><i>Stanzas</i></b>. Coming soon!</h4>
	          </div>
	        </div>
	        <hr>
	      	</div>
	<% if author_signed_in? %>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Start writing! </h3>
			</div>
			<div class="panel-body">
			<%= form_for @Stanza, :url => stanza_path, :html => {:method => :post} do |f| %>
				<div class="form-group">
					<%= f.label :content %>
						<%= f.text_area :content, {class: "form-control", style: "resize:vertical;"} %>
						<%= f.hidden_field :script_id, :value => @script.id %>
				</div>
				<div class="form-group">
					<%= f.submit "add more", {class: "btn btn-info"}%>
				<% end %>
				</div>
				
				</div>	
			</div>
		</div>
	<% end %>
	</div>
</div>
<script type="text/javascript">
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
